@page "/categories"
@inject HttpClient Http

<PageTitle>Категории расходов</PageTitle>

<h1>Категории расходов</h1>

<p>Компоненнт позволяет управлять категориями расходов.</p>

@code {

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
    }
}