@page "/manage"
@using Afonya.WebUi.HttpClients.Abstractions
@using System.Text.Json
@using System.Text.Json.Serialization
@using System.Text.Encodings.Web
@using System.Text.Unicode
@inject IManageService ManageService

<PageTitle>Управление ботом</PageTitle>

<h1>Управление ботом</h1>

<p>Этот компонент позволяет добавлять\удалять webHook телеграм, для бота.</p>

<h3>Статус:</h3>
<pre>@Json</pre>

@code {
    private string Json;
    protected override async Task OnInitializedAsync()
    {
        var result = await ManageService.GetStatus();
        Json = JsonSerializer.Serialize(result, new JsonSerializerOptions
        {
            DefaultIgnoreCondition = JsonIgnoreCondition.WhenWritingNull,
            PropertyNameCaseInsensitive = true,
            Encoder = JavaScriptEncoder.Create(UnicodeRanges.BasicLatin, UnicodeRanges.Cyrillic),
            WriteIndented = true
        });
    }
}